.contentDiv {
  min-width: 100%;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.lyricDivHeader {
  min-height: fit-content;
  min-width: fit-content;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  font-size: 1.6rem;
  margin-left: 20px;
}

.lyricContainer {
  max-width: 100%;
  overflow: auto;
}

.lyricText {
  font-size: 1.4rem;
  margin: 0 20px 20px 20px;
}

.contentHeader {
  min-width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 10px 0;
}

.lyricScroll {
  display: flex;
  align-items: center;
  gap: 5px;
}

.scrollBtn {
  height: 50px;
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;

  border: none;
  border-radius: 10px;

  cursor: pointer;

  transition: background-color 0.3s;
}

.scrollBtn:hover {
  background-color: rgba(255, 255, 255, 0.271);
}
