.ActDiv {
  height: 100%;
  flex-grow: 1;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  z-index: 10;
}

.zoomBtns {
  display: flex;
}

@media screen and (max-width: 1120px) {
  .pipBtnTest {
    display: none;
  }
}
