.LoadingScreenDiv {
  height: 100px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.cantFindDiv {
  height: fit-content;
  width: 100%;

  display: flex;
  align-items: center;

  flex-direction: column;
  gap: 5px;

  margin: 20px 0;
}

.loadingIcon {
  height: 20px;
  animation: rotation 1s linear infinite;

  filter: brightness(0) saturate(100%) invert(86%) sepia(74%) saturate(0%)
    hue-rotate(245deg) brightness(104%) contrast(104%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.reloadBtn {
  height: 50px;
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;

  border: none;
  border-radius: 10px;

  cursor: pointer;

  transition: background-color 0.3s;
}

.reloadBtn:hover {
  background-color: rgba(255, 255, 255, 0.271);
}
.reloadIcon {
  filter: brightness(0) saturate(100%) invert(86%) sepia(74%) saturate(0%)
    hue-rotate(245deg) brightness(104%) contrast(104%);
}

.cantFindMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
