.ManualSearchFormDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ManualSearchForm {
  display: flex;
  align-items: center;

  gap: 10px;
  margin: 0 0 10px 0;
}

.ManualSearchFormDiv input {
  height: 50px;
  width: 200px;

  color: white;
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0 0 0 10px;

  border-radius: 12px;
}

.inputsDiv {
  display: flex;
  gap: 10px;
}

.cantFindMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  margin-bottom: 20px;
}

.closeBtn {
  align-self: flex-end;
}

@container mainContainer (max-width: 600px) {
  .inputsDiv {
    flex-direction: column;
  }
}

.cantFindMessage p {
  text-align: center;
}
