.ManualSearchForm {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 10px 0;
}
.ManualSearchFormDiv input {
  height: 50px;
  width: 200px;

  color: white;
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0 0 0 10px;

  border-radius: 12px;
}

.submitBtn {
  height: 50px;
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;

  border: none;
  border-radius: 10px;

  cursor: pointer;

  transition: background-color 0.3s;
}

.submitBtn:hover {
  background-color: rgba(255, 255, 255, 0.271);
}
