.header {
  max-height: 60px;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
}

.headerTitle {
  min-height: fit-content;
  min-width: fit-content;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  font-size: 1.6rem;
  margin-left: 20px;
}

.lyricScroll {
  display: flex;
  align-items: center;
  gap: 5px;
}

.headerTitleText,
.lyricsVariationText {
  user-select: none;
}
.headerTitleText {
  font-size: 1.6rem;
}

.HeaderSearchIcon {
  height: 12px;
  opacity: 0.4;
}
.headerTitleText:hover .HeaderSearchIcon {
  opacity: 1;
}

.headerSearchButton {
  width: 100% !important;
  display: flex;
  justify-content: center;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.lyricsVariationText {
  cursor: pointer;
}

@container mainContainer (max-width: 600px) {
  .headerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

    font-size: 1.6rem;
    margin-left: 20px;
    margin-top: 10px;
  }

  .headerTitle button {
    height: 20px;
    width: 20px;
  }
}
