.header {
  max-height: 60px;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 10px 0;
}

.headerTitle {
  min-height: fit-content;
  min-width: fit-content;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  font-size: 1.6rem;
  margin-left: 20px;
}

.lyricScroll {
  display: flex;
  align-items: center;
  gap: 5px;
}

.headerTitleText,
.lyricsVariationText {
  user-select: none;
}

.lyricsVariationText {
  cursor: pointer;
}

.headerPIP {
  margin-top: 0;
}

.headerPIP:hover:not(.extensionBtn) {
  cursor: grab;
  backdrop-filter: blur(12px) brightness(1.5);
}

.headerPIP:active:not(.extensionBtn) {
  cursor: grabbing;
  backdrop-filter: blur(12px) brightness(2.5);
}

@container mainContainer (max-width: 600px) {
  .headerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

    font-size: 1.6rem;
    margin-left: 20px;
    margin-top: 10px;
  }

  .headerTitle button {
    height: 20px;
    width: 20px;
  }
}
