#youLyricRoot {
  height: 100%;
  width: 100%;
}

.appDiv {
  min-height: 100px;
  height: fit-content;

  min-width: fit-content;
  max-width: 100%;

  color: silver;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;

  margin-bottom: 12px;
}
