* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

#youLyricRoot {
  min-height: fit-content;
  min-width: fit-content;
}

.appDiv {
  display: flex;
  flex-direction: column;

  border: 1px solid;
  border-radius: 12px;

  margin-bottom: 12px;

  cursor: default;

  font-size: 1.2rem;

  container-type: inline-size;
  container-name: mainContainer;

  overflow: auto;
}

.appDivSidebar {
  min-height: 120px;
  height: fit-content;

  min-width: 100%;
}
.addDivDescription {
  min-height: 120px;
  height: fit-content;

  min-width: 100%;
}

.appDivPIP {
  min-height: 120px;
  height: fit-content;
  max-height: fit-content;

  max-height: 600px;
  min-width: 500px;

  position: fixed;

  margin-bottom: 0;

  z-index: 1000000000000;
}

.extensionBtn {
  height: 50px;
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;

  border: none;
  border-radius: 10px;

  cursor: pointer;

  transition: background-color 0.3s;

  user-select: none;
}

.extensionBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.extensionBtn:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.extensionBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.manualSearchTriggerBtn,
.manualSearchIconDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusDebug {
  background-color: crimson;
  color: white;
  margin: 5px;
  max-height: fit-content;
  max-width: fit-content;
}
