#youLyricRoot {
  min-height: fit-content;
}

.appDiv {
  min-height: 100px;
  height: fit-content;

  width: 100%;

  display: flex;

  color: silver;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;

  margin-bottom: 12px;

  cursor: default;

  font-size: 1.2rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
